.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
}

.button {
    padding: 5px 10px;
    cursor: pointer;
}

.btnStyle {
    display: flex;
    align-items: center;
    background-color: #203a6c;
    border-radius: 5px;
    padding: 0px 5px;
}

.btnStyle:disabled {
    background-color: rgb(94, 5, 5);
    color: var(--textSoft);
}

.button:before {
    content: '';
    width: calc(100% + 8px);
    opacity: 0;
    height: calc(100% + 8px);
    position: absolute;
    left: -4px;
    top: -4px;
    transition: all 0.2s ease-in;
    z-index: -1;
}

.btnStyle:enabled:hover {
    transition: ease-in 100ms;
    transform: scale(1.1);
    background-color: #5d57c9;
}