.container {
    background-color: var(--bgSoft);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-wrap: wrap;
}

.form input,
.form textarea,
.form select {
    padding: 30px;
}
