.container{
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: var(--bgSoft);
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addBtn{
    padding: 10px;
    background-color: #5d57c9;
    color: var(--text);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}